:root {
  --lilac: rgb(182, 162, 181);
  --pink: rgb(253, 236, 240);
  --dark: rgb(168, 114, 152);
  --light: rgb(245, 239, 233);
  --periwinkle: rgb(243, 229, 233);
  --white: #ffffff;
  --coral: #f89698;
  --forest: #578477;
  --moss: #788d7d;
  --salmon: #f2b7b1;
  --mauve: #d89fa2;
  --taupe: #8e716a;
  --sage: #9faca5;
  --script: "League Script", "Brush Script MT", cursive;
  --type: "Lora", "Georgia", serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--type);
  font-weight: 400;
  font-size: 1.3125em;
  line-height: 1.6;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.top-banner {
  background-image: url("./bg-image.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 50px;
  text-align: center;
}

.banner-title {
  font-family: var(--script);
  font-size: 3.5rem;
  line-height: 40%;
  padding-top: 1rem;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr)); /* Adjust min and max width as needed */
  gap: 20px; /* Adjust the padding between cells */
}

.grid-item {
  padding: 10px;
  /* You can add additional styling for grid items, such as padding, border, etc. */
}

.grid-item img {
  max-width: 100%; /* Ensure images don't exceed their container */
  height: auto;
}

/* sidebar "about me" */
h2 {
  font-family: var(--script);
  line-height: 1;
  font-size: 2.5rem;
  margin: auto;
}

/* app titles */
h3 {
  font-size: 2rem;
  position: relative;
}

.responsive {
  width: 50%;
  height: auto;
  margin: auto;
}

.stretchimage {
  width: 100%;
  height: 100%;
  position: relative;
}

.img-small {
  width: 10%;
}

/* Formatting an image with text flowing around it to the right */

.text-with-image {
  display: flex;
  align-items: center;
}

.image {
  flex-shrink: 0;
  width: 200px;
  height: auto;
  margin-right: 20px;
}

.text {
  flex: 1;
}

.topnav {
  display: flex;
  justify-content: center;
  margin: 0;
  color: black;
  font-size: 0.75em;
}

.topnav a {
  margin: 0 0.5rem;
}

.topnav a.active {
  background-color: var(--white);
  opacity: 0.7;
  border-radius: 50px;
}

.topnav a:hover {
  color: var(--dark);
}

/* Main grid that holds the body of the page */
.grid {
  margin: 2rem 0;
  display: grid;
  width: 100%;
  grid-template-columns: 100%;
  gap: 3rem;
  grid-auto-rows: minmax(100px, auto);
}

.sidebar {
  grid-column: 1;
  grid-row: 1;
  /* use linear-gradient() function to create a fading background  */
  background-image: linear-gradient(
    rgba(182, 162, 181, 0.3) 0%,
    rgba(182, 162, 181, 0.6) 100%
  );
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  align-items: flex-start;
}

article {
  opacity: 0.4;
  transition: opacity 0.5s;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}

article:hover {
  opacity: 1;
  box-shadow: inset 0px 0px 8px rgba(182, 162, 181, 1),
    0 0 15px rgba(182, 162, 181, 1);
}

.project {
  position: relative;
}

.app-title {
  position: absolute;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  z-index: 2;
  border-radius: 0px 50px 50px 0px;
  background-color: var(--white);
  opacity: 0.7;
  max-width: 23rem;
}

.caption {
  position: absolute;
  width: 100%;
  height: 2rem;
  bottom: 8px;
  background-color: var(--white);
  text-align: center;
  z-index: 2;
  opacity: 0.7;
  font-family: var(--script);
  text-transform: lowercase;
  font-size: 1.5em;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--sage);
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-icons a {
  color: white;
  margin: 0 10px;
  font-size: 24px;
}

.social-icons a:hover {
  color: lightgray;
}

/* Large devices (tablets in landscape mode and small laptops, min-width 768px) */

@media only screen and (min-width: 768px) {
  .topnav {
    padding-top: 0.5rem;
    margin: auto;
  }

  .topnav a {
    padding: 5px;
  }

  .grid {
    margin-top: 2rem;
    grid-template-columns: 50%;
  }

  .sidebar {
    grid-column: 2;
    grid-row: 1 / 4;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  header {
    position: fixed;
    z-index: 1;
    height: 8rem;
    padding: 2rem;
  }

  body {
    padding-bottom: 5rem;
  }

  h1 {
    size: 5rem;
  }

  h2 {
    size: 3.5rem;
  }

  .split {
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .topnav {
    font-size: 1rem;
  }

  .grid {
    margin: 12rem 6rem 6rem 6rem;
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
  }

  .sidebar {
    grid-column: 3;
    grid-row: 1 / 5;
  }

  .spotlight {
    grid-column: 1;
    grid-row: 1 / 3;
  }

  .project {
    position: relative;
  }
}
